## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/hernandez/Desktop/Class_Folder/6_Module/World_Weather_Analysis/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Awjilah,LY,29.1081,21.2869,56.52,61,0,7.20,clear sky
1,1,Ushuaia,AR,-54.8000,-68.3000,47.86,53,40,25.32,scattered clouds
2,2,Hobart,AU,-42.8794,147.3294,67.26,55,75,4.00,broken clouds
3,3,Deniliquin,AU,-35.5333,144.9667,67.50,49,99,13.49,overcast clouds
4,4,Rikitea,PF,-23.1203,-134.9692,76.69,73,87,6.26,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your vacation? "))
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 60
What is the maximum temperature you would like for your vacation? 76

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Hobart,AU,-42.8794,147.3294,67.26,55,75,4.00,broken clouds
3,3,Deniliquin,AU,-35.5333,144.9667,67.50,49,99,13.49,overcast clouds
9,9,Cidreira,BR,-30.1811,-50.2056,69.69,87,49,13.98,scattered clouds
15,15,East London,ZA,-33.0153,27.9116,68.54,92,100,2.75,overcast clouds
16,16,Victoria,HK,22.2855,114.1577,65.25,57,47,1.01,scattered clouds
18,18,Busselton,AU,-33.6500,115.3333,61.09,63,72,17.67,broken clouds
19,19,Saldanha,ZA,-33.0117,17.9442,60.85,90,53,16.91,broken clouds
22,22,Hilo,US,19.7297,-155.0900,74.93,91,90,11.50,heavy intensity rain
23,23,Hermanus,ZA,-34.4187,19.2345,60.91,95,100,11.01,light rain
24,24,Wanning,CN,18.8003,110.3967,63.12,69,68,10.02,broken clouds

In [17]:
# 4a. Determine if there are any empty rows.
#preferred_cities_df.count()
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                4
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Hobart,AU,-42.8794,147.3294,67.26,55,75,4.00,broken clouds
3,3,Deniliquin,AU,-35.5333,144.9667,67.50,49,99,13.49,overcast clouds
9,9,Cidreira,BR,-30.1811,-50.2056,69.69,87,49,13.98,scattered clouds
15,15,East London,ZA,-33.0153,27.9116,68.54,92,100,2.75,overcast clouds
16,16,Victoria,HK,22.2855,114.1577,65.25,57,47,1.01,scattered clouds
18,18,Busselton,AU,-33.6500,115.3333,61.09,63,72,17.67,broken clouds
19,19,Saldanha,ZA,-33.0117,17.9442,60.85,90,53,16.91,broken clouds
22,22,Hilo,US,19.7297,-155.0900,74.93,91,90,11.50,heavy intensity rain
23,23,Hermanus,ZA,-34.4187,19.2345,60.91,95,100,11.01,light rain
24,24,Wanning,CN,18.8003,110.3967,63.12,69,68,10.02,broken clouds

In [ ]:
#preferred_cities_df.isnull().sum()

In [21]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_clean_df[["City", "Country", "Max Temp","Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Hobart,AU,67.26,broken clouds,-42.8794,147.3294,
3,Deniliquin,AU,67.50,overcast clouds,-35.5333,144.9667,
9,Cidreira,BR,69.69,scattered clouds,-30.1811,-50.2056,
15,East London,ZA,68.54,overcast clouds,-33.0153,27.9116,
16,Victoria,HK,65.25,scattered clouds,22.2855,114.1577,
18,Busselton,AU,61.09,broken clouds,-33.6500,115.3333,
19,Saldanha,ZA,60.85,broken clouds,-33.0117,17.9442,
22,Hilo,US,74.93,heavy intensity rain,19.7297,-155.0900,
23,Hermanus,ZA,60.91,light rain,-34.4187,19.2345,
24,Wanning,CN,63.12,broken clouds,18.8003,110.3967,

In [22]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Hobart,AU,67.26,broken clouds,-42.8794,147.3294,Mantra on Collins Hobart
3,Deniliquin,AU,67.50,overcast clouds,-35.5333,144.9667,Riviana Motel
9,Cidreira,BR,69.69,scattered clouds,-30.1811,-50.2056,Hotel Castelo
15,East London,ZA,68.54,overcast clouds,-33.0153,27.9116,Tu Casa
16,Victoria,HK,65.25,scattered clouds,22.2855,114.1577,Mini Hotel Central

In [24]:
hotel_df.count()
#hotel_df.isnull().sum()

City                   190
Country                190
Max Temp               190
Current Description    190
Lat                    190
Lng                    190
Hotel Name             190
dtype: int64

In [25]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.copy()
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Hobart,AU,67.26,broken clouds,-42.8794,147.3294,Mantra on Collins Hobart
3,Deniliquin,AU,67.50,overcast clouds,-35.5333,144.9667,Riviana Motel
9,Cidreira,BR,69.69,scattered clouds,-30.1811,-50.2056,Hotel Castelo
15,East London,ZA,68.54,overcast clouds,-33.0153,27.9116,Tu Casa
16,Victoria,HK,65.25,scattered clouds,22.2855,114.1577,Mini Hotel Central

In [26]:
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [27]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [28]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))